 a {
    color: lightcoral;
    text-decoration: none;
    list-style: none;

}

/* bounding class */

body {
    background: peachpuff;
}

.container {
    background-color: whitesmoke;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    padding: 10px 10px 10px;
    font-family: sans-serif;
}

h1 {
    background-color: azure;
    width: max-content;
    margin: 0px auto;
}

.content {
    background: rgb(223, 106, 106);
    height: auto;
    margin: 10px auto;
    padding: 5px;
}

.recipes {
    background-color: rgb(163, 183, 201);
    height: 300px;
    padding: 10px;
}

ul {
    padding-left: 0;
    list-style: none;
    list-style-type: none;
}

li p {
    background-color: white;
    height: 50px;
    margin: 0px 0px 10px;
    padding: 20px 0px 0px;
    text-align: center;
}

